<div class="container">
  <div *ngFor="let urzadzenie of urzadzenia" style="margin-left: 5%">
    <div class="p-d-flex">
      <p-toggleButton [(ngModel)]="urzadzenie.czyWlaczone"
                      onLabel="Włącz"
                      offLabel="Wyłącz"
                      onIcon="pi pi-check"
                      offIcon="pi pi-times"
                      [style]="{'width': '7em'}"
                      class="p-my-auto"
                      (click)="showTurnOnMessage(urzadzenie)"
                      (onChange)="onDeviceChange(urzadzenie)">
      </p-toggleButton>
      <div [style]="{'width': '7em'}" class="p-my-auto p-ml-3">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Aktualna temperatura" [disabled]="true"
                 [(ngModel)]="urzadzenie.aktualnaTemperatura">
          <span class="p-inputgroup-addon">°C</span>
        </div>
      </div>
      <div
        class="p-my-auto">
        <button pButton
                [routerLink]="['/device', urzadzenie.id]"
                class="p-button-outlined p-button-lg p-ml-3">
          {{ urzadzenie.nazwa }}
          <span *ngIf="urzadzenie.czyZaplanowaneWlaczenie">
          &nbsp;
        </span>
          <i *ngIf="urzadzenie.czyZaplanowaneWlaczenie" class="pi pi-clock"></i>
        </button>
      </div>
      <app-graph
        class="p-ml-auto p-mr-5 p-pr-5"
        [aktualnaTemperatura]="urzadzenie.aktualnaTemperatura"
      ></app-graph>
    </div>
  </div>
  <h2 *ngIf="urzadzenia.length === 0" class="p-m-3" style="color: #9FA8DA">Nie dodano żadnych urządzeń.</h2>
</div>

<p-messages
  [style]="{
          position: 'absolute',
          top: '50px',
          right: '5px'
          }"
  [(value)]="messages"
  [enableService]="false"></p-messages>
