<div class="container">
  <div *ngFor="let urzadzenie of urzadzenia" style="margin-top: 3%;margin-left: 5%">
    <p-toggleButton [(ngModel)]="urzadzenie.wlaczone"
                    onLabel="On"
                    offLabel="Off"
                    onIcon="pi pi-check"
                    offIcon="pi pi-times"
                    [style]="{'width': '5em'}"
                    (onChange)="onDeviceChange(urzadzenie)">
    </p-toggleButton>
    <button pButton
            [routerLink]="['/device', urzadzenie.id]"
            [style]="{ left: '2%' }"
            class="p-button-outlined p-button-lg">
      {{ urzadzenie.nazwa }}
        &nbsp;
      <i *ngIf="urzadzenie.czyZaplanowaneWlaczenie" class="pi pi-clock"></i>
    </button>
  </div>
</div>

