<div class="container">
  <button pButton
          [style]="{
          position: 'absolute',
          top: '15%',
          left: '10%'
          }"
          class="p-button-outlined p-button-lg"
          (click)="onClick()">
    Wykryj urządzenia bezprzewodowe
  </button>
  <button pButton
          [style]="{
          position: 'absolute',
          top: '30%',
          left: '10%'
          }"
          class="p-button-outlined p-button-lg"
          (click)="onClick()">
    Urządzenia w sieci WiFi
  </button>
</div>
