<body class="container" style="background-image: url('./assets/images/city.jpg');
background-size: 700px 550px;
background-repeat: repeat-x;
background-attachment: fixed;
background-position: bottom;
height: auto;
min-height: 100%">
<header>
  <div class="p-grid p-px-0 p-mx-0 p-pt-0">
    <div class="p-col-6 p-px-0">
      <a [routerLink]="'/home'">Urządzenia</a>
    </div>
    <div class="p-col-6 p-px-0">
      <a [routerLink]="'/add-device'">Dodaj urządzenie</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
  <div>
    <button pButton
            class="p-button-outlined p-button-lg p-mb-5"
            (click)="showCPUUsageDialog()"
            label="Zużycie zasobów"
            style="width: 100%"
    ></button>
    <p-dialog header="Zużycie zasobów" [(visible)]="displayCpuUsageModal" [modal]="true" [style]="{width: '50vw'}"
              [draggable]="false" [resizable]="false">
      <p class="m-0">Zajęta pamięć RAM: {{ totalMemoryInMB - freeMemoryInMB }} MB</p>
      <p class="m-0">Wolna pamięć RAM: {{ freeMemoryInMB }} MB</p>
      <p class="m-0">Pamięć całkowita RAM: {{ totalMemoryInMB }} MB</p>
      <p class="m-0">Zużycie procesora: {{ cpuUsage }}%</p>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayCpuUsageModal=false" label="Zamknij"
                  styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>
  </div>

  <div>
    <button pButton
            class="p-button-outlined p-button-lg p-mb-5"
            (click)="showInfoDialog()"
            icon="pi pi-info-circle"
            label="Dodatkowe informacje"
            style="width: 100%"
    ></button>
    <p-dialog header="Dodatkowe informacje" [(visible)]="displayInfoModal" [modal]="true" [style]="{width: '50vw'}"
              [draggable]="false" [resizable]="false">
      <p class="m-0">Panel boczny jest idealnym rozwiązaniem na rozszerzenie aplikacji o dodatkowe funkcje.</p>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayInfoModal=false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>
  </div>

  <div>
    <button pButton
            class="p-button-outlined p-button-lg"
            (click)="showContactDialog()"
            label="Skontaktuj się z nami"
            style="width: 100%"
    ></button>
    <p-dialog header="Linkedin" [(visible)]="displayContactModal" [modal]="true" [style]="{width: '50vw'}"
              [draggable]="false" [resizable]="false">
      <p class="m-0">https://www.linkedin.com/in/karol-musia%C5%82-8bb79520a/</p>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayContactModal=false" label="Ok"
                  styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>
  </div>
</p-sidebar>

<p-button class="sideBar" (click)="visibleSidebar = true" icon="pi pi-arrow-left"></p-button>
</body>

