body, html {
  width: 100%;
  height: 100%;
  background-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  width: 100%;
  align-items: start;
  justify-content: start;

  -webkit-background-size: cover;
  background-size: cover;

  a {
    width: 100%;
    color: #fff !important;
    text-decoration: none;
    background: #222222;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #222333;
      color: #fff !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

.sideBar {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
